* {
  font-family: Arial, Helvetica, sans-serif;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  font-size: 20px;
  padding: 5px;
  width: 150px;
  text-align: center;
  border: 1px solid black;
}

input {
  width: 150px;
  font-size: 18px;
  border: none;
}

input:focus {
  background-color: pink;
}

button {
  height: 35px;
  margin-top: 15px;
  font-size: 18px;
  cursor: pointer;
}
